body {
    background-color: white;
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #212529;
    font-weight: bold;
    font-style: normal;
}

.header {
    text-align: left;
    padding-top: 25px;
    margin:20px;
}

.gallery-row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0px 8px;

}

.gallery-column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0px 8px;
}

.gallery-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 12px;
}

@media screen and (max-width: 800px) {
    .gallery-column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .gallery-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
    }
}

img.hover-shadow {
    transition: 0.3s;
 }
.hover-shadow:hover {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.733), 0 6px 20px 0 rgba(0, 0, 0, 0.418);
}
/* The Modal (background) */
.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	padding-top: 100px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0,0,0,0.9); 
  }
/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
/* The Close Button */
.close {
	color: rgb(255, 255, 255);
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
  font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	cursor: pointer;
  }
  
  .mySlides {
	display: none;
  }
  
/* Next & previous buttons */
.prev,
.next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -50px;
color: rgb(255, 255, 255);
font-weight: bold;
font-size: 20px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add ar with a little bit see-thr black background coloough */
.prev:hover,
.next:hover {
  border-radius: 12px;
  background-color: rgba(97, 0, 138, 0.726);
}