.track-head{
  color:rgb(255, 255, 255);
}
.heading{
  text-align: center;
}
.track-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 2rem;
}
.imgtheme {
  /* margin-top:1.4rem; */
  box-sizing: border-box;
  transition: 0.3s all ease-in-out;
  padding: 1rem;
  height: 100%;
  position: relative;
}
.track-card {
  height: 14rem;
  width: 20rem;
  background-color: #4c007e;
  text-align: center;
  border-radius: 1.5rem;
  color: rgb(255, 255, 255);
  overflow: hidden;
  cursor: pointer;
  margin: 1.5rem;
}

/* .trac-icon{
   z-index: 999; 
   background-color:rgb(69, 202, 125);
   padding: 6rem 8.8rem;
   transition: 0.3s all;
   margin:0;
   font-size: 2rem;
}
.track-card:hover .trac-icon{
 padding: 1rem;
 border-radius:50%;
 margin:1rem  0;
 font-size: 1rem;
} */
.track-icon {
  height: 100%;
}
.caption-background {
  height: 200px;
  background: rgb(189, 80, 236);
}
.hidden {
  display: none;
}
.track-description {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  transform: scale(0);
  transition: 0.3s all;
  /* margin: 0 1rem; */
}

.track-description h1 {
  width: 100%;
  text-align: center;
}

.track-icon .imgtheme {
  transform: translateY(-1.5rem) scale(0.8);
}

.track-icon .track-description {
  transform: scale(1);
}

@media screen and (max-width: 900px) {
  .track-grid {
    margin: 0.5rem;
  }
}
